page-timesheet-verify {
  .willow-toolbar {
    .toolbar-background {
      background-color: $white;
      // color: $theme-color-1;

    }
    button.toolbar-button {
      color: orange;
      background-color: black;
    }

    button {
      color: $theme-color-1;
      border-color: $theme-color-1;
    }
  }

  button{
    &.time-button {
      color: $theme-color-1;
      border-color: $theme-color-1;
    }
    &.item-button {
      color: $theme-color-1;
    }
  }

  .multi-input-row
  {
    @include align-items(flex-end);

    ion-col {
      padding: 0px 7px;

      &:first-child{
        padding-left: 0px;
      }

      &:last-child{
        padding-right: 0px;
      }
    }

    .multi-input
    {
      margin: 0px;

      &.item-datetime.item-label-floating
      {
        ion-label {
          margin-top: 7px;
        }

        ion-datetime {
          padding-top: 0px;
        }
      }

      ion-datetime {
        padding-left: 0px;

        .datetime-text
        {
          color: $theme-color-3;
        }
      }
    }
  }
  .form-section
  {
    padding: 0px 14px;

    .item:first-child
    {
      margin-top: 20px;
    }

    .form-action-button
    {
      margin: 0px;
      margin-top: 20px;

      @include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
    }
  }

}

// page-timesheet-verify > ion-header > ion-toolbar {
//   .willow-toolbar .toolbar-background {
//     background-color: white;
//     color: $theme-color-1;
//   }
// }
