<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      p{{lennylu}}p
      <p>lenny is {{appGlobals.lvtDebug}}</p>
      <p *ngIf="appGlobals.supervisor">I'm a supervisor</p>
      <p *ngIf="!appGlobals.supervisor">I'm not super</p>
      <button ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
      <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>

      <ng-container *ngFor="let page of pushPages">
        <button ion-item detail-none *ngIf="showPage(page)" (click)="pushPage(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
          {{page.title}}
        </button>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
