// Common list styles can be found in "./common.styles/layouts/lists"
$list-big-description-font-size: 12px;

page-safety-focus {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-big-content
	{
		background-color: color($colors, background, base);

		.list-big
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{

					.content-row
					{
						@include align-items(center);
					}

					.item-content
					{
						@include align-content(stretch);
					  @include display(flex);
					  @include flex-wrap(wrap);
					  @include align-self(stretch);

						.item-title
						{
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.item-description
						{
							@include multi-line-ellipsis($list-big-description-font-size);
						}
					}
				}
			}
		}

    .form-section
    {
      padding: 0px 14px;

      .item:first-child
      {
        margin-top: 20px;
      }
      
      .form-action-button
      {
        margin: 0px;
        margin-top: 20px;

        @include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
      }
    }

	}
}
