<!--
  Generated template for the ClockOff page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Yabba Dabba Do</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="notifications-content">
  <h2 *ngIf="!hasDayStarted">Day hasn't started Yet</h2>
  <ion-item-group *ngIf="hasDayStarted">
    <ion-item-divider class="notifications-divider">Still Working</ion-item-divider>
    <ion-item class="notification-item" *ngFor="let worker of workersWorking.items"
              (click)="startSignOff(worker)">
      <ion-avatar item-left>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="worker.image"></preload-image>
      </ion-avatar>
      <h2 class="item-title">{{worker.name}}</h2>
      <p class="item-description">{{worker.message}}</p>
      <ion-note class="item-time" item-right>{{worker.clockOn}}</ion-note>
    </ion-item>
    <ion-item-divider class="notifications-divider">Slater ...!</ion-item-divider>
    <ion-item class="notification-item" *ngFor="let worker of workersFinished.items">
      <ion-avatar item-left>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="worker.image"></preload-image>
      </ion-avatar>
      <h2 class="item-title">{{worker.name}}</h2>
      <p class="item-description">{{worker.message}}</p>
      <ion-note class="item-time" item-right>{{worker.clockOff}}</ion-note>
    </ion-item>
  </ion-item-group>
</ion-content>
