page-safety-focus-detail {

	.settings-content
	{
		background-color: color($colors, background, base);

		.user-image-content
		{
			padding: 16px;
			margin-bottom: 20px;
			background-color: $white;
			@include element-shadow();

			.user-image-row
			{
				@include justify-content(center);

				.user-image
				{
					border-radius: 5%;
				}
			}

			.image-action
			{
				font-size: 1.4rem;
				line-height: 1.5;
				text-align: center;
				color: $theme-color-2;
				margin: 10px 0px 0px;
				font-weight: 400;
			}
		}

		.user-data-content
		{
			padding: 0px;
			margin-bottom: 20px;

			ion-item {
				border: none !important;
				padding: 0px 20px;
				@include element-shadow();

				.item-inner
				{
					border: none;
					padding: 0px;

					ion-label {
						margin: 6px 0px 4px;
						font-size: 1.1rem;
						line-height: 1.2;
						letter-spacing: 0.5px;
						color: $white-d;
					}

					ion-input input,
					ion-textarea textarea {
						margin: 0px;
						margin-bottom: 8px;
						padding: 0px;
						width: 100%;
						font-size: 1.6rem;
						line-height: 1.4;
						color: $theme-color-3;
					}
				}
			}
		}

		.user-preferences-row
		{
			margin: 0px 0px 20px;
			padding: 0px 20px;
			@include element-shadow();
			background-color: $white;

			.radio-tags-label
			{
				font-size: 1.4rem;
				letter-spacing: 0.2px;
				color: $white-d;
				flex: 1;
				@include align-self(center);
			}
		}

		.settings-form
		{
			margin-bottom: 60px;
		}



	}
}
