page-ma-weather-details {
	
	// ion-header, ion-toolbar {
	// 	@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	// }
	ion-content.content {
		background-color: #efefef;
	}
	.current-details {
		background: color($colors, walkthrough, base);
    	color: color($colors, walkthrough, contrast);
		padding-bottom: 8.3333%;
		padding-top: 8.3333%;
		.detail-value {
			font-weight: 600;
		}
	}
	.hourly-list {
		ion-item {
			ion-thumbnail {
				min-width: 40px!important;
				min-height: 40px!important;
				position: relative;
				.weather-icon-container {
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			span.time {
				opacity: 0.5;
			}
			span[item-right] {
				ion-icon {    
					font-size: 1em;
    				opacity: 0.5;
				}
			}
		}

		.accordion-item {
			.accordion-content {
				transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);;
				max-height: 0px;
				opacity: 0;
				overflow: hidden;
			}
			
		}

		.accordion-item.is-shown {
			overflow: hidden;
			.accordion-header {
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
							0 3px 1px -2px rgba(0, 0, 0, 0.2), 
							0 1px 5px 0 rgba(0, 0, 0, 0.12);
				.item-inner {
					border: none;
				}
			}
			.accordion-content {
				max-height: 350px;
				opacity: 1;
			}
		}
		.accordion-item.previous-shown {
			.accordion-header {
				box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 
							0 -3px 1px -2px rgba(0, 0, 0, 0.2), 
							0 -1px 5px 0 rgba(0, 0, 0, 0.12);
			}
		}
	}
}